.religious-conatainer{
    margin-top: -200px;
      background-color: #f3eac9;
    border-radius: 30px;
  }
  
  .header-bg{
    background-image: url('../img/feature/religious/bg-khutba.png');
    margin-top: 50px;
    background-size: cover;
    min-height: 400px;
    background-repeat: no-repeat;
  }
  
  .header-bg-conatainer{
    font-family: 'Kalpurush', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: RGBA(12, 11, 11, 0.72);
    background-image: linear-gradient(180deg, 
    RGBA(0, 0, 0, 0.0), 
    RGBA(0, 0, 0, 0.1),
    #dbcdae);
    min-height: 450px;
    margin-top: -30px;
  }
  