
/***********************************
Navigation bar
************************************/
.nav-item {
    transition-timing-function: ease-in-out;
}
.nav-item{
    transition-duration: 20ms;
}

.navbar .navbar-brand{
    color: #5FCF80;

}
.navbar .navbar-nav > li > a{
    font-weight: 700;
    margin: 0px 5px;
    padding: 10px 15px;
}

.navbar-nav > li > a:focus, .navbar-nav > li > a:hover
{
    color: #5FCF80 !important;
}

.btn-trial a{
	background-color:#5FCF80;
	border-radius: 25px;
	color: #ffffff !important;
	border: 1px solid #5FCF80;
}
.btn-trial a:hover, .btn-trial a:focus{
	border: 1px solid #5FCF80;
	background-color: #fff !important;
	color: #5FCF80 !important;
}

.navbar .navbar-brand {
    font-family: 'Dosis', sans-serif !important;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px;
    height: inherit;
    font-size: 36px;
}

.modal-dialog {
    width: 350px;
    margin: 150px auto;
}
.modal-header, .btn {
    background-color:#5FCF80;
}

/***********************************
Banner
************************************/
.banner{
	background: url('../img/bg-banner.jpg') no-repeat fixed center bottom;
    background-size: cover;
	min-height: 670px;
    position: relative;
}

.bg-color{
	background-color: RGBA(12, 11, 11, 0.82);
	min-height: 670px;
}
.text-dec{
	font-size: 24px;
	padding: 10px 20px;
    margin: 15px 0;
	text-transform: uppercase;
    color: #fff;
}

.text-border{
	border: 5px solid #5FCF80;
	display: inline-block;
	margin-top: 150px;
}
.intro-para{
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 45px;
	color: #fff;
	margin-top: 30px;
}
.quote .btn{
    background-color: none
}

.big-text{
    font-size: 35px;
}

.small-text{
    font-size: 16px;
}



/***********************************
About Us
************************************/

.about{
	box-shadow: 2px 0 100px rgba(0,0,0,0.2);
    border-radius: 10px;
}


/***********************************
Top Courses
************************************/

.section-padding{
	padding: 60px 0px;
}


.mybutton {
border-radius: 0px 40px 40px 0px;
background-color: #5FCF80;
border: none;
color: #FFFFFF;
text-align: center;
font-size: 28px;
padding: 10px;
width: 200px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}

.mybutton span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.mybutton span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.mybutton:hover span {
padding-right: 25px;
}

.mybutton:hover span:after {
opacity: 1;
right: 0;
}

/* 
.mouse::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: #fff;
    border-radius: 100%;
    left: 50%;
    top:10px;
    margin-left: -2.5px;
    transition:all 0.3s ease-in;
} */
/***********************************
Features
************************************/

.feature{
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)),url("../img/b3.jpg");
    background-size: cover;
	background-attachment: fixed;
    color: white;
}
.feature-swipe, .card:hover{
    background-color: RGBA(12, 11, 11, 0.7);
    box-shadow: 0 0 20px rgba(255,255,255,0.8);
	transform: translateY(-10px);
    transition-duration: .5s;
    color: #fff;
}
.card{
    text-decoration: none;
    border-radius: 10px;
    box-shadow: inset 0 0 20px rgba(255,255,255,0.05), 0 0 50px rgba(0,0,0,0.8);
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    background-color: transparent;
}
.card img{
    width: 100px;
    /* height: 100px; */
}
.card p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.no-line{
    text-decoration: none;
    color: white;
}


/* Features ends */


/* Slider  */

.slider{
	background-color:#edfaf1;
	border-radius: 10px;
}

.colored-text{
    color: #5FCF80;
}

.clients img{
    width: 149px;
    height: 149px;
}
.clients-text{
    color: #6C6C6C;
}
.fa-star.filled{
    color: #E77C40;
}
.fa-star.empty{
    color: gray;
}
.border{
	box-shadow: 5px 5px 15px rgba(159, 167, 159, 0.8);

}



/* Contact Us  */

.csec {
	background: linear-gradient(to right, #5FCF30, #5FCF99);
	background-attachment: fixed; 
	position: relative;
	width: 100%;
	height: 250px;
	top: 0px;
	content: '';
	transform-origin: top right;
	transform: skewY(-15deg);
	z-index: -1;
}
.back-contact {
	transform: translateY(-170px);
	display: flex;
	justify-content: space-around;
}

.contact-form{
    box-shadow: 0 0 20px rgba(32, 31, 31, 0.8);
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image img{
    width: 15%;
    margin-top: -5%;
}
.contact-form h3{
    color: #5FCF80;
}

.marqu{
	background: linear-gradient(to right, #49b93a, #5FCF99);
}


/* Footer  */

.social-media img{
    width: 22px;
}
footer .social-media a{
    margin-right: 10px;
}

footer .location img{
    height: 40px;
}

footer .border{
    width: 300px;
	height: 4px;
	background: linear-gradient(to right, #5FCF10, #5FCF80);
	margin: 2px;
}